.button{
    width: 80%;
    max-width: 450px;
    display: block;
    margin: 32px auto;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    cursor: pointer;
  }
  
  .buttonRed{
    background-color: #FF5C58;
    color: white;
    padding: 8px;
    border-radius: 8px;
  }
  
  .buttonRed:hover{
    background-color: #ee504d;
  }
  
  .buttonRed:active{
    background-color: #ce3735;
  }