.image{
  width: 25%;
}

@media screen and (max-width: 850px) and (min-width: 500px){
  .image{
    width: 30%;
  }
}

@media screen and (max-width: 500px) and (min-width: 300px){
  .image{
    width: 50%;
  }
}